<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181909110112-014dvd8kt0b9lr3go5mnnv3c178t73qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181909110112-014dvd8kt0b9lr3go5mnnv3c178t73qe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181909110112-0tajb086utqggvhf1korignnafdsmmj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYcVdRq2NmHBGVpnJ2qaRs9yCM4mV0k84</string>
	<key>GCM_SENDER_ID</key>
	<string>181909110112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sela.app</string>
	<key>PROJECT_ID</key>
	<string>cora-app-9b56f</string>
	<key>STORAGE_BUCKET</key>
	<string>cora-app-9b56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181909110112:ios:2de6da20dccfe34620f205</string>
</dict>
</plist>